@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}


/* 
########################
## TOP NAVIGATION BAR ##
######################## 
*/

/* properties of container div */
.top_nav_bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    position: fixed;
    top: 0px;
}

/* company logo */
.company_logo{
    height: 50px;
    padding-left: 10px;
} 

/* properties of horizontal menu */
.horizontal_menu{
    list-style-type: none;
}

/* arranging links in a horizontal position  */
ul.horizontal_menu li{
    display: inline-block;
}

/* formatting text inside horizontal menu */
ul.horizontal_menu li a{
    text-decoration: none;
    color: black; 
    padding: 10px 20px;
} 

/* buttons */
.top_nav_bar button{
    background-color: transparent;
    border: 2px solid transparent;
    font-family: inherit;
    font-weight: inherit;
    padding: 10px 20px;
    color: rgba(42, 124, 255, 1);
}

/* hover effect on buttons */
.top_nav_bar button:hover{
    border: 2px solid rgba(42, 124, 255, 1);
    cursor: pointer;
    border-radius: 4px;
}


/* 
##################
## DISPLAY DIVS ##
################## 
*/

/* container div */
.display_div{
    margin-top: 70px;
    padding: 50px 0px 0px 0px; 
    width: 100%; 
    align-items: center;
    text-align: center;
    background-color:red; /*!!!*/
}

/* first level heading directly inside display div */
.display_div h1{
    font-family: 'Merriweather', serif;
    font-size: 46px !important;
}

/* second level heading directly inside display */
.display_div h2{
    font-family: 'Merriweather', serif;
    font-size: 26px;
    font-weight: 700;
}

/* small container to hold text and headings */
.small_container{
    background-color: green; /*!!!*/
    width: 800px;
    margin: 0 auto;
}

/* heading inside small container */
.small_container h1{
    font-family: 'Merriweather', serif;
    font-size: 64px;
    padding: 20px 0px;  
}

/* text inside small container */
.small_container p{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    padding: 20px 0px;
}

/* buttons inside small container */
.small_container button{
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 20px;
    background-color: transparent;
    border: 4px solid rgba(42, 124, 255, 1);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 50px 20px;
}

/* container to hold icon containers */
.icon_grid{
    display: inline-block;
    background-color: brown;
    padding: 5px;
}

/* icon containers */
.icon_holder{
    display: inline-block;
    background-color: white; /*!!!*/
    width: 350px;
    vertical-align: top;
    padding: 5px;
}

/* icons dimensions */
.small_img{
    height: 90px;
}

/* icons inside icon holder container */
.icon_holder img{
    height: 100px;
}

/* headings inside icon holder */
.icon_holder h3{
    font-family: 'Merriweather', serif;
    font-size: 26px;
    font-weight: 700;
}

/* text in icon holder */
.icon_holder p{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 400;
}

/* text containers */
.text_container{
    display: inline-block;
}

/* headings inside text containers */
.text_container h1{
    font-family: 'Merriweather', serif;
    font-size: 80px;
    font-weight: 500;
    padding: 10px;
}

/* text inside text container */
.text_container p{
    font-family: 'Merriweather', serif;
    font-size: 20px;
}