@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}


/* 
########################
## TOP NAVIGATION BAR ##
######################## 
*/

/* properties of container div */
.top_nav_bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    position: fixed;
    top: 0px;
}

/* company logo */
.company_logo{
    height: 50px;
    padding-left: 10px;
} 

/* properties of horizontal menu */
.horizontal_menu{
    list-style-type: none;
}

/* arranging links in a horizontal position  */
ul.horizontal_menu li{
    display: inline-block;
}

/* formatting text inside horizontal menu */
ul.horizontal_menu li a{
    text-decoration: none;
    color: black; 
    padding: 10px 20px;
} 

/* buttons */
.top_nav_bar button{
    background-color: transparent;
    border: 2px solid transparent;
    font-family: inherit;
    font-weight: inherit;
    padding: 10px 20px;
    color: rgba(42, 124, 255, 1);
}

/* hover effect on buttons */
.top_nav_bar button:hover{
    border: 2px solid rgba(42, 124, 255, 1);
    cursor: pointer;
    border-radius: 4px;
}


/* 
####################
## DROP DOWN MENU ##
#################### 
*/

/* container div */
.display_div{
    margin-top: 70px;
    width: 100%; 
    align-items: center;
    text-align: center;
    background-color:red; /*!!!*/
}

/* small container to hold text and headings */
.small_container{
    background-color: green; /*!!!*/
    width: 800px;
    margin: 0 auto;
}

.small_container h1{
    font-family: 'Merriweather', serif;
    font-size: 64px;   
}

.small_container p{
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.small_container button{
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 20px;
    background-color: transparent;
    border: 4px solid rgba(42, 124, 255, 1);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 50px 20px;
}

.display_div img{
    height: 90px;
}

.display_div h2{
    font-family: 'Merriweather', serif;
    font-size: 26px;
    font-weight: 700;
}